*{
	margin: 0;
	padding: 0;
}

html,body{
	height: 100%;
}

.pai{
	width: 1280px;
	margin: 0 auto;
	padding: 20px 0;
	background: skyblue;
}

.child{
	box-sizing: border-box;
	width: 640px;
	height: 300px;
	background: red;
	border: 1px solid black;
	float: left;

	text-align: center;
	font-size: 100xp;
	font-weight: bold;
	color: white;
	padding: 150px;

}