*{
	margin: 0;
	padding: 0;
}

html, body{
	height: 100%;
}

.center{
	text-align: justify;
	box-sizing: content-box;
	width: 1280px;
	margin: 0 auto;
	background-color: cyan;
}

.artigo{
	box-sizing: border-box;
	border-left-style: hidden;
	border-width: 3px;
	border-color: rgb(255, 0, 0);
	margin-right: -4px;
	margin-top: 30px;
	width: 620px;
}